<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Simple_member</title>
</head>
<body>
<h1>Room Hello</h1>
<form action="/room/reserveRoom" th:object="${room}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" th:field="*{roomNum}" placeholder="룸번호">
    <input type="text" th:field="*{roomReserve}" placeholder="예약자 명">
    <button type="submit">예약하기</button>
</form>
</body>
</html>