<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Smart Lock</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body>
<h1>Smart Lock</h1>
<h3 sec:authorize="isAuthenticated()">반갑습니다. <span sec:authentication="name"></span>님!</h3>
<div class="sl_header" sec:authorize="isAnonymous()" >You would live Smart with Smart Room!</div>
<a sec:authorize="isAuthenticated()" th:href="@{/room/reserveRoom}">Reserve ROOM</a>
<a sec:authorize="isAuthenticated()" th:href="@{/room/statusRoom}">Status ROOM</a>

<hr>
<a class="sl_button" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
<a class="sl_button" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
<a class="sl_button" sec:authorize="isAnonymous()" th:href="@{/member/signup}">회원가입</a>
</body>
</html>